<a href="https://colab.research.google.com/github/harshitgoyal97/chicago-crime-detection/blob/master/Observations_Chicago_Crime_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Helpful Material:**

1) https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

2) Helpful function: df.value_counts()

**Learning objective**
*  EDA
*  Getting familiar with datetime operations

In [1]:
# Loading Libraries
import numpy as np
import pandas as pd

# ignoring warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
#load data
chicago_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Chicago_Crime_Detective.csv")

In [3]:
chicago_data.head()

   Unnamed: 0       ID            Date  ... District  CommunityArea  Year
0           0  8951354  12/31/12 23:15  ...        6             69  2012
1           1  8951141  12/31/12 22:00  ...       12             24  2012
2           2  8952745  12/31/12 22:00  ...       16             11  2012
3           3  8952223  12/31/12 22:00  ...        7             67  2012
4           4  8951608  12/31/12 21:30  ...        2             35  2012

[5 rows x 10 columns]

Use the raw data github link above.

Data Columns details:
1. ID: a unique identifier for each observation.

2. Date: the date the crime occurred.
LocationDescription: the location where the crime occurred.

3. Arrest: whether or not an arrest was made for the crime (TRUE if an arrest was made, and FALSE if an arrest was not made).

4. Domestic: whether or not the crime was a domestic crime, meaning that it was committed against a family member (TRUE if it was domestic, and FALSE if it was not domestic).

5. Beat: the area, or "beat" in which the crime occurred. This is the smallest regional division defined by the Chicago police department.

6. District: the police district in which the crime occured. Each district is composed of many beats, and are defined by the Chicago Police Department.

7. CommunityArea: the community area in which the crime occurred. Since the 1920s, Chicago has been divided into what are called "community areas", of which there are now 77. The community areas were devised in an attempt to create socially homogeneous regions.

8. Year: the year in which the crime occurred.
Latitude: the latitude of the location at which the crime occurred.

**Question 1:** What is the Month and Year of the median date in our dataset? *

In [7]:
import dateutil
chicago_data['Date'] = chicago_data['Date'].apply(dateutil.parser.parse, dayfirst = False)

In [8]:
chicago_data['Date']

0        2012-12-31 23:15:00
1        2012-12-31 22:00:00
2        2012-12-31 22:00:00
3        2012-12-31 22:00:00
4        2012-12-31 21:30:00
                 ...
191636   2001-01-01 00:05:00
191637   2001-01-01 00:01:00
191638   2001-01-01 00:01:00
191639   2001-01-01 00:01:00
191640   2001-01-01 00:01:00
Name: Date, Length: 191641, dtype: datetime64[ns]

In [24]:
# Sorting data by date and extracting date column from the dataset
dates = chicago_data.sort_values(by=['Date'])['Date'] 

# Calculating median by getting the middle value
median_date = dates[len(dates)//2]
median_date

Timestamp('2006-05-21 12:30:00')

In [29]:
median_date.month_name() + " "+ str(median_date.year)

'May 2006'

**Question 2:** In which month did the lowest motor vehicle thefts occur? *

In [47]:
from collections import Counter
# Calculating month name from each date
monthNames = [i.month_name() for i in chicago_data['Date']]
# using Counter subclass for counting the no. of occurrences of a particular month (Hence, indicating the no. of crimes in that month)
dictMonths = Counter(monthNames)
dictMonths

Counter({'April': 15280,
         'August': 16572,
         'December': 16426,
         'February': 13511,
         'January': 16047,
         'July': 16801,
         'June': 16002,
         'March': 15758,
         'May': 16035,
         'November': 16063,
         'October': 17086,
         'September': 16060})

In [55]:
# For lowest motor vehicle thefts, we will get the key(month) corresponding to the min value of the dictMonths dictionary
min(dictMonths, key=dictMonths.get)

'February'

**Question 3:** In which month did the highest motor vehicle thefts occur? *

In [56]:
# Similarly, for highest motor vehicle thefts, we will use max
max(dictMonths, key=dictMonths.get)

'October'

**Question 4:** On which day of the week did most motor vehicle thefts occur? 
1. Monday
2. Wednesday
3. Friday 
4. Sunday

In [ ]:
# Write your code here

**Question 5:** Each observation in the dataset represents a motor vehicle theft, and the Arrest variable indicates whether an arrest was later made for this theft. Which month has the largest number of motor vehicle thefts for which an arrest was made? 

1. January  (correct answer)
2. February
3. March
4. April

In [ ]:
# Write your code here

**Question 6:** Select the incorrect statement 
1. It look like crime decreases from 2002 - 2012
2. It look like crime increases from 2005 - 2008
3. It look like crime increases from 2009 - 2011

In [ ]:
# Write your code here

**Question 7:** Crimes for which more arrests were made are in the first half of the time period or the second half of the time period? *
(Note that the time period is from 2001 to 2012, so the middle of the time period is the beginning of 2007.)

1. First half
2. Second half

In [ ]:
# Write your code here

**Question 8:** For what proportion of motor vehicle thefts in 2001 was an arrest made? *
**Note:** In this question, we are asking for an answer as a proportion. Therefore, your answer should take a value between 0 and 1

1. 0.06
2. 0.08
3. 0.10
4. 0.12

In [ ]:
# Write your code here

**Question 9:** Create a subset of your data, only taking observations for which the theft happened in one of the top five locations for motor vehicle thefts, excluding the "Other" category. Call this new data set "Top5". How many observations are in Top5?

1. 177510 
2. 177515
3. 177520
4. 177525

In [ ]:
# Write your code here

**Question 10:** On which day of the week do the most motor vehicle thefts at gas stations happen? *

1. Tuesday
2. Thursday
3. Saturday
4. Sunday

In [ ]:
# Write your code here